.homepage__container {
    background-color: #23295A;
    height: 826px;
    display: flex;
    align-items: center;
    justify-content: center
}

.homepage__namecontainer {
    width: 280px;
    text-align: center;
    margin: auto;
}

.homepage__text {
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
}

.homepage__img {
    width: 400px;
    height: 400px;
    margin: auto;
}