.background__container {
    background-color: #422D73;
    height: 826px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background__leftside {
    width: 50%;
}

.background__titlecontainer {
    width: 280px;
    margin: auto;
}

.background__factscontainer {
    margin: auto;
    width: 50%;
}